html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
}

.widget {
    border: none;
}

td {
    text-align: center;
}

header {
    text-align: center;
    padding: 1em 1.5em;
    background: #014085;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    cursor: pointer;
}

header * {
    display: inline-block;
    vertical-align: middle;
}



/* If the screen size is 600px wide or less, hide the element */
@media screen and (min-width: 750px) {
    header {
        text-align: left;
    }
  }

@media screen and (max-width: 550px) {
    header h1 {
      font-size: 2em;
    }
  }
  @media screen and (max-width: 480px) {
    header h1 {
      font-size: 1.8em;
    }
}
@media screen and (max-width: 455px) {
    header h1 {
      display: none;
    }
}

header h1 {
    margin-top: -0.05em;
}

#logo {
    width: 8em;
    margin-right: 0.8em;
}

main {
    padding-top: 4.5em;
    min-height: 100vh;
}

main, #header {
    background: rgb(209, 231, 255);
}

#button-box {
    background: rgb(233, 244, 255);
}



.back-btn{
    font-size: 1.3em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}


.box {
    padding: 2em 2em;
}


.more-info {
    padding-left: 2em;
}

.box-title{
    
}

.widget-box {
    
}

.widget-header > * {
    vertical-align: middle;
    display: inline-block;
}



.widget-title h6 {
    margin-bottom: 0;
    margin-left: 0.1em;
}


#widgets-box {
    transition: 0.5s;

}

.widgets {
    margin: -0.5em;
    padding-top: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* .widgets::after {
    content: "";
    flex-grow: 1000000000;
} */

h4 {
    margin-top: 1em;
}

.big-open-hours h4 {
    margin-top: 0;
}

.after-title {
    font-size: 0.8em;
}

.open-hours {
    margin-top: 0.2em;
    font-size: 1.15em;
}



.after {
    color: l
}


.iframe-container {
    overflow: hidden;
    /* width: 250px; */
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 1em;

}
.iframe-outer-container {
    margin: 0 auto;
    width: 100%;
    margin-left: 10px;
}

.iframe-widget {
    text-align: center;
    margin-left: -30px;
    margin-top: -85px;
    height: 145px;
    pointer-events: none;
}

#widgets-box {
    color: black;
    background: white;
}

.widget {
    text-align: center;
    cursor: pointer;
    padding: 1em;
    border: 1px solid lightgray;
    display: inline-block;
    margin: 0.5em;
    transition: 0.5s;
    background: white;
    border-radius: 1em;
    flex-grow: 1;
}

.summary-widget {
    border: 1px solid gray;
}

.other-box {
    text-align: bottom;
}

.other-widget {
    display: none;
}

.widget-title {
    font-size: 1.5em;
}

.widget:active {
    filter: brightness(0.8);

}

.widget-details {
    font-style: italic;
    font-size: 0.95em;
}



#header {
    padding: 1em 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

#header p {
    margin: 0;
}
