html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
}

.widget {
    border: none;
}

td {
    text-align: center;
}

header {
    padding: 1em 2em;
    background: #014085;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    cursor: pointer;
}

#logo {
    width: 1.5em;
}

main {
    min-height: 100vh;
    background: rgb(209, 231, 255);
}

#header {
    padding-top: 7em;
    padding-bottom: 1em;
}

#a {
    color: rgb(97, 255, 255) ;
}



.box {
    padding: 2em 2em;
}

.more-info {
    padding-left: 2em;
}

.box-title{
}

.widget-box {
    
}



#widgets-box {
    transition: 0.5s;
    min-height: calc(100vh - 19em);

}

.widgets {
    margin: -0.5em;
    padding-top: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* .widgets::after {
    content: "";
    flex-grow: 1000000000;
} */

h3 {
    margin-top: 1em;
}


.iframe-container {
    overflow: hidden;
    /* width: 250px; */
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 1em;

}
.iframe-outer-container {
    margin: 0 auto;
    width: 100%;
    margin-left: 10px;
}

.iframe-widget {
    text-align: center;
    margin-left: -30px;
    margin-top: -85px;
    height: 145px;
    pointer-events: none;
}

#widgets-box {
    color: black;
    background: white;
}

.widget {
    text-align: center;
    cursor: pointer;
    padding: 1em;
    border: 1px solid lightgray;
    display: inline-block;
    margin: 0.5em;
    transition: 0.5s;
    background: white;
    border-radius: 1em;
    flex-grow: 1;
}

.summary-widget {
    border: 1px solid gray;
}

.other-widget {
    display: none;
}

.widget-title {
    font-size: 1.5em;
}

.widget:active {
    filter: brightness(0.8);

}

.widget-details {
    font-style: italic;
    font-size: 0.95em;
}



